.available-courts-row {
  @extend .color-bdb-grey-500;
  overflow: hidden;
  height: 5.25rem;
  @include mobile {
    height: 5rem;
  }

  .time {
    z-index: 2;
    position: relative;
    top: 2px;
  }

  .court-button {
    .name,
    .duration {
      font-size: .75rem;
      font-family: $font-geom;
    }
  }

  .time-slot {
    @extend .mrm;
    @extend .t3;
    @extend .flex-row;
    @extend .flex-vc;
    @extend .color-grey-900;

    font-family: $font-geom;
    position: relative;
    z-index: 2;

    background-color: map_get($color-map, 'pale-turquoise');
    color: map_get($color-map, 'white');
    width: 5.5rem;

    &:after {
      content: $icon-hex;
      color: map_get($color-map, 'pale-turquoise');
      font-family: playven-icons, serif;
      font-size: 5.54rem;
      position: absolute;
      z-index: 1;
      transform: rotate(30deg);
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 2rem;
      width: 100%;
      height: 100%;
    }

    @include mobile {
      font-family: $font-geol;
      margin-right: 3.5rem;
      width: 3rem;
    }
  }

  @include mobile {
    .courts-carousel {
      padding: 0 1rem;
    }
    .courts-carousel-wrapper {
      padding: 1rem;
      .courts-carousel {
        padding: 0;
      }
      .slick-prev {
        left: -13px;
      }
      .slick-next {
        right: -13px;
      }
    }
  }

}
