.venue-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .venue-images__image-container {
    height: 100%;
    background-color: blue;
  }

  .venue-images__image {
    background-size: cover;
    background-position: center 65%;
    height: 100%;
    width: 100%;
  }
}
