.input-upper-label {
    display: block;
    position: absolute;
    font-size: .75rem;
    color: inherit;
    left: 1.25rem;
    bottom: -0.65rem;
}

.field-renderer-container {
  margin: 0 0.4rem;
  position: relative;
  width: 100%;
}
