.input-text-compact {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.input-upper-label {
  left: 0 !important;
  right: 0 !important;
  bottom: -1.5rem !important;
}

.payment-sign-in-button {
  padding: 0.5rem 3rem;
  background-color: #0e7dff;
  border: solid 1px #0e7dff;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 22.5px;
  font-weight: bold;
  margin-top: 1rem;
}

.payment-fb-link {
  fontSize: 1rem;
  color: #0e76f7;
  text-transform: uppercase;
  margin-top: 1rem;
  font-weight: bold;
}
